.dashboard_flex {
    display: flex;
    gap: 40px;
}
.dashboard_flex .dashboard_right_col {
    width: 70%;
    flex: 1;
}
.dashboard_flex .dashboard_right_col .dashboard_sidebar_cols {
    height: 100%;
}
.dashboard_flex .dashboard_left_col {
    width: 30%;
    min-width: 300px;
}
.dashboard_sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.dashboard_sidebar_cols {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    padding: 1.2rem;
    background-color: var(--color-background);
    border-radius: 8px;
}
.dashboard_sidebar .profile_details {
    display: flex;
    gap: 15px;
    align-items: center;
}
.dashboard_sidebar .profile_details .profile_icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.dashboard_sidebar .profile_details .profile_name {
    color: var(--color-black);
    font-size: 18px;
    font-weight: 600;
    font-family: var(--inter-semibold);
}
.dashboard_sidebar .account_menus .nav {
    flex-direction: column;
}
.dashboard_sidebar .account_menus .nav .nav-link {
    color: var(--color-black);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
    border-bottom: 1px solid #e7e7e7;
}
.dashboard_sidebar .account_menus .nav .nav-link:last-child {
    border-bottom: 0;
}
.dashboard_sidebar .account_menus .nav .nav-link.active-nav,
.dashboard_sidebar .account_menus .nav .nav-link:hover {
    color: var(--color-orange);
    font-weight: 600;
}
.dashboard_sidebar .account_menus .nav .nav-link svg {
    font-size: 20px;
}
@media (max-width: 1199px) {
    .dashboard_flex {
        gap: 20px;
    }
}
@media (max-width: 991px) {
    .dashboard_flex {
        flex-direction: column;
        gap: 40px;
    }
    .dashboard_flex .dashboard_left_col,
    .dashboard_flex .dashboard_right_col {
        width: 100%;
        min-width: 100%;
    }
}

/* Profile Information */
.edit_profile_btn {
    background-color: var(--color-transparent) !important;
    color: var(--color-orange);
    font-weight: 600;
    font-family: var(--inter-semibold);
    border: none;
    padding: 0;
    margin-left: 20px;
}
.edit_profile_btn:hover,
.edit_profile_btn:active {
    color: var(--secondary-color);
}
.dashboard_profile_form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2rem 0;
}
.dashboard_profile_form .form-row {
    width: 100%;
    margin: 0;
}
.dashboard_profile_form .form-row>* {
    padding: 0;
}
.dashboard_profile_form .form-row .form-control {
    padding: 10px 15px;
    color: var(--color-black);
}
.dashboard_profile_form .form-row .form-control[readonly] {
    background-color: #0000000f;
}
.dashboard_profile_form .form-row .form-control:focus {
    border-color: var(--primary-color);
}
.dashboard_profile_form .form-check {
    padding: 0;
    margin-bottom: 0;
}
.dashboard_profile_form .form-check .form-check-input {
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
}
.profile_image_block {
    display: flex;
    gap: 15px;
    align-items: center;
}
.profile_image_block .avatar_preview img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.profile_image_block .image_upload {
    padding: 6px 10px;
    font-size: 14px;
    background-color: var(--secondary-color);
    color: var(--color-white);
    border-radius: 6px;
    cursor: pointer;
}
.profile_image_block .image_upload.disabled {
    opacity: 0.65;
    cursor: default;
}
.profile_image_block .image_upload.upload:hover,
.profile_image_block .image_upload.upload:active {
    background-color: var(--color-orange);
}
.dashboard_profile_form .update_profile_btn {
    width: max-content;
    margin-top: 2rem;
}