@font-face {
  font-family: "Poppins";
  src: url('./assests/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: "Poppins-Medium";
  src: url('./assests/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: "Poppins-Bold";
  src: url('./assests/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url('./assests/fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: "Inter";
  src: url('./assests/fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: "Inter-Medium";
  src: url('./assests/fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url('./assests/fonts/Inter-SemiBold.ttf');
}
@font-face {
  font-family: "Inter-Bold";
  src: url('./assests/fonts/Inter-Bold.ttf');
}
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.3;
}
:root {
  --primary-color: #210561;
  --secondary-color: #310891;
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #FF6A00;
  --color-lightpurple: #AA86FF;
  --color-text: #848484;
  --color-button: #091947;
  --color-border: #081333;
  --color-gray: #929090;
  --color-background: #f8f8f8;
  --color-transparent: transparent;
  --poppins-semibold: "Poppins-SemiBold";
  --poppins-bold: "Poppins-Bold";
  --poppins-medium: "Poppins-Medium";
  --poppins: "Poppins";
  --inter-semibold: "Inter-SemiBold";
  --inter-bold: "Inter-Bold";
  --inter-medium: "Inter-Medium";
  --inter: "Inter";
}
*:focus,
*:focus-visible {
  box-shadow: unset !important;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
p {
  margin-bottom: 0;
  line-height: 1.3;
}
.padding-top {
  padding-top: 80px;
}
.padding-bottom {
  padding-bottom: 80px;
}
.less-padding-top {
  padding-top: 40px;
}
.less-padding-bottom {
  padding-bottom: 40px;
}
.main_heading {
  font-size: 28px;
  font-weight: 600;
  font-family: var(--poppins-semibold);
  position: relative;
  margin-bottom: 0;
  padding-bottom: 10px;
  color: var(--secondary-color);
}
.main_heading::after {
    content: "";
    background-color: var(--color-orange);
    height: 4px;
    width: 100%;
    max-width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.paragraph {
  font-family: var(--inter);
  font-size: 15px;
  color: var(--color-text);
}
.btn_primary.btn {
  background-color: var(--primary-color);
  border-radius: 8px;
  border-color: var(--primary-color);
  padding: 10px 30px;
  font-family: var(--poppins-semibold);
}
.btn_primary.btn:hover,
.btn_primary.btn:active {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}
@media (max-width: 767px) {
  .padding-top {
    padding-top: 40px;
  }
  .padding-bottom {
    padding-bottom: 40px;
  }
  .less-padding-top {
    padding-top: 20px;
  }
  .less-padding-bottom {
    padding-bottom: 20px;
  }
  .main_heading {
    font-size: 25px;
  }
}